/*-----------------------Element-------------------*/
body {
  background-color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
}
button {
  border-radius: 28px;
  font-family: "Lexend Deca", sans-serif;
  border: 2px solid hsl(0, 0%, 95%);
  padding: 1rem;
  margin-bottom: 0;
  margin-top: 60px;
  word-spacing: 1px;
  font-size: 0.9rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
button:hover {
  cursor: pointer;
  color: hsl(0, 0%, 95%) !important;
  border: 2px solid hsl(0, 0%, 95%);
}

h1 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  padding: 1rem;
  font-size: 2.5rem;
  margin: 15px auto;
  padding-left: 0;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  line-height: 1.5rem;
  padding-bottom: 10%;
  /* word-spacing: 1px; */
}
/*---------------------------Classes------------------------------------------*/
.attribution {
  text-align: center;
  /* margin-bottom: 3rem; */
}
.flex-container {
  display: flex;
  width: 72%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.sedan {
  background-color: hsl(31, 77%, 52%);
  padding: 2.8rem;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.sedan button {
  color: hsl(31, 77%, 52%);
}
.sedan button:hover {
  background-color: hsl(31, 77%, 52%);
}

.suv {
  background-color: hsl(184, 100%, 22%);
  padding: 2.8rem;
}

.suv button {
  color: hsl(184, 100%, 22%);
}
.suv button:hover {
  background-color: hsl(184, 100%, 22%);
}
.luxury {
  background-color: hsl(179, 100%, 13%);
  padding: 2.8rem;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.luxury button {
  color: hsl(179, 100%, 13%);
}

.luxury button:hover {
  background-color: hsl(179, 100%, 13%);
}

@media only screen and (max-width: 800px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sedan {
    border-radius: 8px 8px 0 0;
  }
  .luxury {
    border-radius: 0 0 8px 8px;
  }
  p {
    margin-top: 2rem;
  }
  button {
    margin-top: 2rem;
  }
  .attribution {
    display: block;
  }
}
